version: 2
jobs:
  build:
    docker:
      - image: cirrusci/flutter
    steps:
      - checkout

      - run: 
          name: Check flutter status
          command: flutter doctor

#      - run:
#          name: Run Flutter tests.
#          command: flutter test