<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>572796681836-4rg7qfprn6sv8pit4e4qe4o3b96vgm78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572796681836-4rg7qfprn6sv8pit4e4qe4o3b96vgm78</string>
	<key>API_KEY</key>
	<string>AIzaSyBTAtPhhGWNLq2qlMGBJ-7Tp3hZuAegqBA</string>
	<key>GCM_SENDER_ID</key>
	<string>572796681836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wamf.farmsmartFlutter</string>
	<key>PROJECT_ID</key>
	<string>farmsmart-20190415</string>
	<key>STORAGE_BUCKET</key>
	<string>farmsmart-20190415.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572796681836:ios:efe2772246be2473</string>
	<key>DATABASE_URL</key>
	<string>https://farmsmart-20190415.firebaseio.com</string>
</dict>
</plist>